fastapi==0.115.2
uvicorn[standard]==0.30.3
sqlalchemy==2.0.36
pymysql==1.1.1
python-dotenv==1.0.1
alembic==1.14.0
passlib[bcrypt]==1.7.4
python-jose==3.3.0
boto3==1.35.25
authlib==1.3.2
geopy==2.4.1
gunicorn
email-validator
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]
python-multipart
bcrypt==3.2.2
pyotp==2.8.0
qrcode==7.3.1
pillow==9.4.0
webauthn==2.0.0
numpy
Markdown
bleach
